// Compatible with @progress/kendo-theme-default v.8.2.0

    
    h1{
        font-weight: 700;
                font-family: "Metric", sans-serif;
                font-size: clamp(35px, 8vw, 65px);
        
}

    h2{
    font-size: 33px;
            font-family: "Metric", sans-serif;
            font-weight: 600;
            color: #141850;
    
}

    h3{
        font-weight: 700;
                font-family: "Metric", sans-serif;
                font-size: 28px;
                color: #141850;
        
}
    a{
        font-weight: bold;
        color: rgb(34, 94, 255);

        :hover {
            color: black;
        }
        
}
    h4{
        font-weight: 400;
                font-size: 22px;
                font-weight: bold;
                color: #141850;
    }

    p, table, li {
        font-size: 18px;
        line-height: 28px;
        font-family: 'Metric', sans-serif;
    }

    .k-button {
        padding: 10px 30px;
        margin: 20px 0;
        font-weight: bold;
    }

    .k-chart {
        height: 100%;

        .k-chart-surface > svg {
            overflow: visible !important;
        }
    }
        
