// Compatible with @progress/kendo-theme-default v.8.2.0

main {
    max-width: 1000px;
    padding: 30px;
    margin: auto;
}

    h2{
        font-size: 40px;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
        
}
    h1{
        font-weight: 700;
                font-family: "Open Sans", sans-serif;
                font-size: 52px;
        
}
    h3{
        font-weight: 700;
                font-family: "Open Sans", sans-serif;
                font-size: 30px;
        
}
    a{
        font-weight: bold;
                color: rgb(34, 94, 255);
        
}
    h4{
        font-weight: 400;
                font-size: 23px;
    }

    p, table, li {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }
        
