@import './index.scss';

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

section {
  margin-bottom: 50px;
}

.surveyWrapper {
  max-width: 900px;
  margin: 0 auto;
}

.intro {
  margin-bottom: 0;

  .cover {
    padding: 0 30px 30px;

    h1 {
      text-align: center;
      background-color: #282E89;
      border: 6px solid $tb-primary;
      padding: 50px 10px 30px 10px;
      border-radius: 20px;
      color: white;
      z-index: -2;
      max-width: 950px;
      margin: -50px auto 0; 
    }
  }

  .logo {
    width: clamp(100px, 100%, 150px)
  }

  .text {
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;

    p {
      line-height: 30px;
    }

    h4 {
      font-style: italic;
    }
  }

  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes write {
    from {opacity:0; padding-left: 60px;}
    to {opacity: 1; padding-left: -20px;}
  }

  .illustration {
    width: clamp(300px, 100%, 700px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    margin: auto;

    .screen {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 6;
      max-height: 90%;
      justify-self: center;
      align-self: center;
    }

    .wheel {
      animation-name: rotate;
      animation-duration: 8s;
      animation-timing-function: ease-in-out;

      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      max-height: 80%;
      justify-self: end;
      align-self: start;
      z-index: -1;
    }

    .design {
      animation-name: write;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;

      grid-row-start: 1;
      grid-column-start: 5;
      align-self: end;
      justify-self: end;
    }
  }
}

.flex {
  display: flex;
}

.imgFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .imgFlex {
    flex-wrap: wrap;
  }
}

.chartFlex {
  display: flex;
  align-items: center;
  

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .chartWrapperDark, .chartWrapperLight {
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  .chartFlex {
    flex-wrap: wrap;
  }
}

.doubleChartFlex {
  display: flex;
  justify-content: space-evenly;

  > div {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .doubleChartFlex {
    flex-wrap: wrap;

    div {
      width: 100%
    }
  }
}

.decoImage {
  width: 200px;
  padding: 1% 5% 1% 1%;
}

.ninja2, .design1, .code {
  width: 275px;
  margin: 30px 0;
}

.infoIcon {
  width: 40px;
  position: relative;
  top: 12px;
  left: -20px;
  position: absolute;
}

.designIcon {
  position: absolute;
  width: 80px;
  left: -10px;
  bottom: -15px;
  transform: rotate(40deg);
}

.codeIcon {
  position: absolute;
  width: 80px;
  left: -10px;
  bottom: -15px;
}

.callout {
  background-color: $tb-tertiary-subtle;
  padding: 1% 5%;
  border-radius: 10px;
  margin: 1%;
  position: relative;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
  }

  table {
    margin-bottom: 20px;
  }
}

.chartWrapperDark {
  background-color: #282E89;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;

  a {
    color: white;
    text-decoration: underline;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
    margin: 0 0 2% 0;
  }

  p {
    color: white;
    line-height: 25px;
  }
}

.chartWrapperLight {
  background-color: $tb-tertiary-subtle;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  h3 {
    margin: 0 0 2% 0;
  }
}

table {
  width: 100%;
  max-width: 800px;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.8);

  tr th {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word; 
  }
  tr td {
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word; 
  }

  tr th:first-child {
    border-top-left-radius: 10px;
  }

  tr th:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
    
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

  p {
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }

  .color {
    width: 15px; 
    height: 15px;
    margin: 5px;
  }
}

blockquote {
  border-left: 2px solid $tb-primary-on-subtle;
  padding-left: 20px;
  font-size: 20px;
  color: $tb-primary-on-subtle
}