@import './styles/index.scss';

.flex {
  display: flex;
}

.highlights .flex div{
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

table {
  width: 100%;
  max-width: 800px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;

  tr th {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
  }
  tr td {
    border: 1px solid black;
    padding: 5px;
  }
}