@import './styles/index.scss';

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  padding: 30px;
  margin: auto;
}


.intro {
  margin: 0;
  background-color: #141850;
  color: white;

  .cover {
    border-bottom: 10px solid $tb-primary;
    padding: 30px;
    
    div {
      max-width: 1000px;
      margin: auto;
    }

    h1 {
      margin-top: 0;
    }
  }

  .logo {
    width: clamp(100px, 100%, 150px)
  }

  .text {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    padding-top: 20px;

    p {
      line-height: 33px;
    }

    h4 {
      font-style: italic;
      color: white;
    }
  }

  .illustration {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    margin: auto;

    .screen {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 6;
      max-height: 90%;
      justify-self: center;
      align-self: center;
    }

    .wheel {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      max-height: 60%;
      justify-self: end;
      align-self: start;
    }

    .design {
      grid-row-start: 1;
      grid-column-start: 5;
      align-self: end;
      justify-self: end;
    }
  }
}

.flex {
  display: flex;
}

.imgFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .imgFlex {
    flex-wrap: wrap;
  }
}

.chartFlex {
  display: flex;
  align-items: center;
  

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .chartWrapperDark, .chartWrapperLight {
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  .chartFlex {
    flex-wrap: wrap;
  }
}

.doubleChartFlex {
  display: flex;
  justify-content: space-evenly;

  > div {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .doubleChartFlex {
    flex-wrap: wrap;

    div {
      width: 100%
    }
  }
}

.decoImage {
  width: 200px;
  padding: 1% 5% 1% 1%;
}

.ninja2, .design1, .code {
  width: 275px;
  margin: 30px 0;
}

.infoIcon {
  width: 40px;
  position: relative;
  top: 12px;
  left: -20px;
  position: absolute;
}

.designIcon {
  position: absolute;
  width: 80px;
  left: -10px;
  bottom: -15px;
  transform: rotate(40deg);
}

.codeIcon {
  position: absolute;
  width: 80px;
  left: -10px;
  bottom: -15px;
}

.callout {
  background-color: $tb-tertiary-subtle;
  padding: 1% 5%;
  border-radius: 10px;
  margin: 1%;
  position: relative;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
  }

  table {
    margin-bottom: 20px;
  }
}

.chartWrapperDark {
  background-color: #282E89;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;

  h3 {
    color: white;
    margin: 0 0 2% 0;
  }

  p {
    color: white;
  }
}

.chartWrapperLight {
  background-color: $tb-tertiary-subtle;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  h3 {
    margin: 0 0 2% 0;
  }
}

table {
  width: 100%;
  max-width: 800px;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.8);

  tr th {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word; 
  }
  tr td {
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word; 
  }

  tr th:first-child {
    border-top-left-radius: 10px;
  }

  tr th:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
    
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

  p {
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }

  .color {
    width: 15px; 
    height: 15px;
    margin: 5px;
  }
}

blockquote {
  border-left: 2px solid $tb-primary-on-subtle;
  padding-left: 20px;
  font-size: 20px;
  color: $tb-primary-on-subtle
}